.componentWrapper {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap:30px;
  max-height: 100vh;
  
  .mapWrapper{
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .componentWrapper {
    max-height: 100dvh;
  }
}